html{
    box-sizing:border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
}

.screen {
    text-align: right;
    font-size: 40px;
    padding: 20px 5px;
}

.wrapper{
    width: 400px;
    background-color: black;
    color: white;
    
}

.calc-btns{
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-button {
    background-color: lightgrey;
    color: black;
    border: none;
    font-size: 40px;
    height: 80px;
    flex-basis: 24.5%;
}

button:hover {
    color: blue;
}

button:active{
    color: red;
}

.double {
    flex-basis: 49.7%;
}

.triple {
    flex-basis: 74.8%;
}

.calc-button:last-child {
    background-color: #df974c;
    color: white;
}

.calc-button:last-child:hover {
    background-color: #dfb07e;
}